<<<<<<< HEAD

  
   
<html>
  <select id='countries' onchange='countryChanged(this.value);'>
    <option value=''>Select Country</option>
    <option value='USA'>USA</option>
    <option value='Canada'>Canada</option>
    <option value='England'>England</option>
  </select>
  &nbsp;&nbsp;
  <select id='states' onchange='stateChanged(this.value);'>
    <option value=''>Select State</option>
  </select>
  &nbsp;&nbsp;
  <select id='cities' onchange='cityChanged(this.value);'>
    <option value=''>Select City</option>
  </select>
 
 <script type="text/javascript"> 

   var statesUSA=[];
   var statesCanada=["Quebec", "Ontario", "Alberta"];
   var statesEngland=["Essex", "Hampshire", "Surrey"];
  
   var citiesCalifornia=["Los Angeles", "San Francisco"];
   var citiesIllinois=["Chicago", "Springfield"];
   var citiesWisconsin=["Milwaukee", "Madison"];
   var citiesQuebec=["Montreal", "Brossard"];
   var citiesOntario=["Toronto", "Ottawa"];
   var citiesAlberta=["Calgary", "Edmonton"];
   var citiesEssex=["Birch", "Dunmow"];
   var citiesHampshire=["Winchester", "Portsmouth"];
   var citiesSurrey=["Fairlands", "Kingswood"];
  
   function countryChanged(country)
   { 
      var selectState = document.getElementById('states');
      var ln = selectState.length - 1;
      while (ln > 0)
      {
        selectState.remove(1);  //Remove all but "Select State"
        ln--;
      }
     
      var selectCity = document.getElementById('cities');
      var ln = selectCity.length - 1;
      while (ln > 0)
      {
        selectCity.remove(1);  //Remove all but "Select City"
        ln--;
      }   
     
      var stateArray;
     
      switch(country)
      {
        case "USA":
            stateArray=statesUSA
            break;
        case "Canada":
            stateArray=statesCanada
            break;
        case "England":
            stateArray=statesEngland
            break;
        default:
      }     
         
      for (i = 0; i < stateArray.length; i++)
      {
        var option = document.createElement('option');
        option.text = stateArray[i];
        option.value = stateArray[i];
        selectState.add(option);
      }     
  }
 
  function stateChanged(state)
  { 
     var selectCity = document.getElementById('cities');
     var ln = selectCity.length - 1;
     while (ln > 0)
     {
       selectCity.remove(1);  //Remove all but "Select City"
       ln--;
     }   
    
     var cityArray;
    
     switch(state)
     {
       case "California":
           cityArray=citiesCalifornia
           break;
       case "Illinois":
           cityArray=citiesIllinois
           break;
       case "Wisconsin":
           cityArray=citiesWisconsin
           break;
       case "Quebec":
           cityArray=citiesQuebec
           break;
       case "Ontario":
           cityArray=citiesOntario
           break;
       case "Alberta":
           cityArray=citiesAlberta
           break;
       case "Essex":
           cityArray=citiesEssex
           break;
       case "Hampshire":
           cityArray=citiesHampshire
           break;
       case "Surrey":
           cityArray=citiesSurrey
           break;           
       default:
     }  
     
     for (i = 0; i < cityArray.length; i++)
     {
       var option = document.createElement('option');
       option.text = cityArray[i];
       option.value = cityArray[i];
       selectCity.add(option);
     }     
  }
 
 
  
  </script>
</html>

</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">  <img src="../public/img/menu_hamburgesa.png" style="width:30px" alt="menu"></span>
    </button>
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            <li class="nav-item active" style="margin: 5px;">
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="#">Cerrar Sesión</a></button>
            </li>
        </ul>
    </div>
</nav>






<div class="card container" style="margin:auto;padding:50px;width:max-content; margin-top: 50px;">
    <div class="col-xs-12">
        <div class="row center-block">
      <form action="" method="POST" style="margin-top: -20px;">
				<div class="" style="margin:40px;">
       				<h3 class="tipoPrendaTitulo"> Agregar prenda </h3>
  				 </div>
  
                
                 <div class="form-group" style="margin-top: 5px;">
                   <input type="text" class="form-control" name="nombrePrenda" id="nombrePrenda" placeholder="Nombre de la prenda">
                </div>
	 
  		  <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="tipoPrenda">
                            <option selected disabled>TipoPrenda</option>
                            {{#each tipoPrendas}}
                                <option value="{{id_tipoPrenda}}" type="tipoPrenda">{{tipo}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

 		 <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="material">
                            <option selected disabled>Material</option>
                                {{#each materiales}}
                                <option value="{{this}}" type="material">{{this}}</option>
                            {{/each}} 
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="estilo">
                            <option selected disabled>Estilo</option>
                            
                                    {{#each estilos}}
                                <option value="{{this}}" type="estilo">{{this}}</option>
                            {{/each}} 

                        </select>
                    </div>
                </div>
                
 		  <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="colorPrimario">
                            <option selected disabled>Color primario</option>
                            {{#each colores}}
                                <option value="{{this}}" type="colorPrimario">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                
             <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="colorSecundario">
                            <option selected disabled>Color secundario</option>
                            {{#each colores}}
                                <option value="{{this}}" type="colorSecundario">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

		 <div class="form-group">
                    <label for="sexo">Sexo:</label>
                    <div>
                        <select class="input-select form-control" name="sexo" id="sexo">
                            <option selected disabled>Seleccionar</option>
                            <option type="sexo">Femenino</option>
                            <option type="sexo">Masculino</option>
                            <option type="sexo">Unisex</option>    
                        </select>
                    </div>
                </div>
	
		  



		<div class="row" style="margin:10px;margin-top: 10px;">
		 <input type="image" src="../public/img/addIm.png" alt="Submit" width="110" height="110" style="margin-left:30.16%;">
                </div>
		<br>
		<div class="row" style="margin-top:15px;margin-left:10px;">
                    <div class="col">
                        <button type="submit" class="btn btn-danger">Agregar</button>
                    </div>
                    <div class="col">
                       <a href="/home" class="btn btn-outline-dark" style="color:black">Cancelar</a>
                    </div>
                </div>
    		

 		</form>
       	    </div>
   	 </div>
</div>

</body>
</html>
>>>>>>> origin/master
