<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>¿Qué me pongo? | Agregar prenda</title>
    <link rel="icon" type="image/x-icon" href="/img/generico/icono_percha.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    color:white;
    line-height: 42px;
    text-align: center;">¿Qué Me Pongo?</h3>

    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
                <li>
                    <a href="/home">
                        <p class="nav-link" style="margin-top:5px">Inicio</p>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <p class="nav-link" style="margin-top:5px">Eventos</p>
                    </a>
                </li>
                <li class="nav-item active" style="margin: 5px;">
                    <a href="/login">
                        <button type="button" class="btn btn-light text-dark"> Cerrar Sesión</button>
                    </a>
                </li>
            {{else}}

                <li class="nav-item active" style="margin: 5px;">
                    <button type="button" class="btn btn-light"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>


<div style="margin:auto;margin-top:50px;padding-bottom:100px;background: url(/img/background/background_prenda.png) no-repeat center top;
background-size: cover;
display:inherit;    ">
    <div class="card container" style="margin:auto;margin-top:5px;width:max-content;opacity:0.9;max-width:100%;margin-top:20px">
   
    <div class="row center-block" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-10 offset-1 text-center offset-sm-4" style="margin:50px; justify-content:center">
            <form action="/addPrenda/{{guardaropaId}}" method="POST" style="margin autos">
				<div class="text-uppercase" >
       				<h3 class="tipoPrendaTitulo" style="margin-bottom:20px"> Agregar prenda </h3>
  				 </div>
            <div class="row">
                <div class="col">
                     <div class="form-group" style="margin-top: 5px;">
                       <input type="text" class="form-control" name="nombrePrenda" id="nombrePrenda" placeholder="Nombre de la prenda" required>
                    </div>

                    <div class="form-group">
                        <div>
                            <select class="input-select form-control" name="tipoPrenda" required>
                                <option selected disabled>Tipo de prenda</option>
                                {{#each tipoPrendas}}
                                    <option value="{{id_tipoPrenda}}" type="tipoPrenda">{{tipo}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                     <div class="form-group">
                        <div>
                            <select class="input-select form-control" name="material" required>
                                <option selected disabled>Material</option>
                                    {{#each materiales}}
                                    <option value="{{this}}" type="material">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="estilo" required>
                            <option selected disabled>Estilo</option>
                            
                                    {{#each estilos}}
                                <option value="{{this}}" type="estilo">{{this}}</option>
                            {{/each}} 

                        </select>
                    </div>
                </div>
                </div>
                <div class="col">
 		        <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="colorPrimario">
                            <option selected disabled>Color primario</option>
                            {{#each colores}}
                                <option value="{{this}}" type="colorPrimario">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="colorSecundario">
                            <option selected disabled>Color secundario</option>
                            {{#each colores}}
                                <option value="{{this}}" type="colorSecundario">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

        		<div class="form-group">
                         <!--   <label for="sexo">Sexo:</label> -->
                    <div>
                        <select class="input-select form-control" name="sexo" id="sexo">
                                <option selected disabled>Sexo</option>
                                <option type="sexo">Femenino</option>
                                <option type="sexo">MascuLINO</option>
                                <option type="sexo">Unisex</option>    
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 5px;">
                    <input type="number" class="form-control" name="niveldecalor" id="niveldecalor" placeholder="Nivel de calor" required>
                </div>

                </div>
            </div>
		        <div class="row" style="margin-top:15px;margin-left:5px; display:inline-bloc">
                    <div class="col">
                       <a href="/guardaropa/{{guardaropaId}}" class="btn btn-outline-dark" style="color:black">Cancelar</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
            </div>
 		    </form>
       	</div>
   	</div>
</div>
</div>
</body>
</html>
