<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="
    anonymous">
    <link rel="stylesheet" type="text/css" href="/css/event_calendar.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-datepicker@1.8.0/dist/css/bootstrap-datepicker.standalone.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.css" />
    
    <script src="/js/event_calendar.js" type="text/javascript"></script>

    <script type="text/javascript">
        var currentYear = new Date().getFullYear();
        var eventosCalendario = [
            {{#each eventos}}
                {
                    id: {{id_evento}},
                    name: '{{nombre}}',
                    location: '{{lugar}}',
                    startDate:new Date({{anioInicio}},{{mesInicio}},{{diaInicio}}),
                    endDate: new Date({{anioFin}},{{mesFin}},{{diaFin}})
                },
            {{/each}}
            ];
         
    </script>


<!--   -->


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">  <img src="../public/img/menu_hamburgesa.png" style="width:30px" alt="menu"></span>
    </button>
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            <li class="nav-item active" style="margin: 5px;">
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="#">Cerrar Sesión</a></button>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <!-- <div data-provide="calendar"> -->
    <div id="calendar"></div>

    <div class="modal fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Evento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form id="nuevo-event-form" action="/events" method="POST" class="form-horizontal">
                        <div class="form-group row">
                            <label for="event-name" class="col-sm-4 control-label">Nombre</label>
                            <div class="col-sm-8">
                                <input id="event-name" name="event-name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="event-location" class="col-sm-4 control-label">Lugar</label>
                            <div class="col-sm-8">
                                <input id="event-location" name="event-location" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="min-date" class="col-sm-4 control-label">Fechas</label>
                            <div class="col-sm-8">
                                <div class="input-group input-daterange " data-provide="datepicker">
                                    <input id="min-date" name="event-start-date" type="text" class="form-control">
                                    <div class="input-group-prepend input-group-append">
                                        <div class="input-group-text">a</div>
                                    </div>
                                    <input name="event-end-date" type="text" class="form-control">
                                </div>
                                <!-- <div class="input-group input-daterange">
                                    <input type="time" name="event-time-start" class="form-control">
                                    <div class="input-group-prepend input-group-append">
                                        <div class="input-group-text"> - </div>
                                    </div>
                                    <input type="time" name="event-time-end" class="form-control">
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>
                                <select class="input-select form-control" name="estilo">
                                    <option selected disabled>Estilo</option>
                            
                                    {{#each estilos}}
                                         <option value="{{this}}" type="estilo">{{this}}</option>
                                    {{/each}} 

                                </select>
                            </div>
                        </div>
                                               
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="guardar">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
       
</div>


</body>
</html>