<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/img/generico/icono_percha.ico">
    <title>¿Qué me pongo? | Guardaropa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="/js/filters.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    color:white;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
            <li>
                <a href="/home">
                    <p class="nav-link" style="margin-top:5px">Inicio</p>
                </a>
            </li>
            <li>
                <a href="/events">
                    <p class="nav-link" style="margin-top:5px">Eventos</p>
                </a>
            </li>
            <li class="nav-item active" style="margin: 5px;">
                <a href="/login">
                <button type="button" class="btn btn-light text-dark"> Cerrar Sesión</button>
                </a>
            </li>
            {{else}}

            <li class="nav-item active" style="margin: 5px;">
                <button type="button" class="btn btn-light"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div style="
background: url(/img/background/guardaropa_5.png) no-repeat right top;
background-size: 1000px;
display:inherit;">
<div action="/guardaropas" method="POST">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-xs-block d-sm-none ">
      
       <a href="/home">
                    <button type="button" class="btn btn-outline-dark btn-outline-success my-2 my-sm-0" style="color:black">Volver</button>  
                </a>

    </nav>
<div style="padding-bottom:420px">
<div class="card container" style="margin-top:5px;justify-content: center;opacity:0.9;">
    <div class="d-xs-none d-sm-block col-xs-4 offset-sm-7 text-center" style="margin-top:10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarGuardaropa">Agregar</button>

        <a href="/home">
            <button type="button" class="btn btn-outline-dark" style="color:black">Volver</button>
        </a>
    </div>

    {{#if guardaropas}}
        {{#each guardaropas}}
            <div class="row" style="justify-content: center;">
                <div class="col-sm-8 col-xs-10 text-center" style="justify-content: center;">
                    <a href="/guardaropa/{{id_guardaropa}}">
    
                        <div class="card mb-3 text-dark" style="max-width: 540px;justify-content: center;opacity:0.9;margin-top:20px">
                            <div class="col no-gutters" style="justify-content: center;">
                                <div class="row-md-4 col-xs-10 text-center" style="margin:auto;padding: 10px;margin-top:5px;width:150px;justify-content: center;">
                                    <img src="img/generico/guardaropas.png" class="card-img" alt="Imagen guardaropa" style="margin:auto;justify-content: center;">
                                </div>
                                <div class="row-md-8" style="justify-content: center;">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase">{{nombre}}</h5>
                                        <p class="card-text">{{descripcion}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div> <h3 class="font-weight-lighter"> No existen guardaropas </h3> </div>  
    {{/if}}    
<!--    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-sm-4 offset-1 text-center">  
           <img src="img/guardaropas.png" class="guardaropasImg" alt="Imagen guardaropa" style="margin-top:5px;width:150px">   
        </div>
    </div>
    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-sm-4 offset-xs-1 text-center">  
            <div class="dropdown btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" id="menuGuardaropas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    guardaropas
                </button>
                <div class="dropdown-menu" aria-labelledby="menuGuardaropas">
                    {{#each guardaropas}}
                     
                  
                    <a class="dropdown-item" href="/guardaropa/{{id_guardaropa}}">{{nombre}}</a>
                    {{/each}}
                </div>
            </div>   
        </div>
    </div>
-->

</div>
</div>
<div class="modal fade" id="modalAgregarGuardaropa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title uppercase" id="exampleModalCenterTitle">Agregar guardaropa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="nombreeGuardaropa" class="col-form-label">Nombre del Guardaropa</label>
                    <input type="text" class="form-control" name="nombreGuardaropa" id="nombreGuardaropa">
                    <label for="descripcionGuardaropa" class="col-form-label">Descripción del Guardaropa</label>
                    <input type="text" class="form-control" name="descripcionGuardaropa" id="descripcionGuardaropa">
                </div>
            </div>

            <div class="modal-footer">
                <a href="/guardaropas"> 
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                </a> 
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
                                     
        </div>
           
    </div>
</div>
</form>
</div>
</body>
</html>



