<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
            <li class="nav-item active" style="margin: 5px;">
                <a href="/login">
                <button type="button" class="btn btn-outline-dark text-dark"> Cerrar Sesión</button>
                </a>
            </li>
            {{else}}

            <li class="nav-item active" style="margin: 5px;">
                
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div>
    <h1>{{evento.nombre}}</h1>
    <h3>{{evento.descripcion}}</h3>
</div>

<div class="card container" style="margin-top:5px;">
  
    {{#if atuendos}}

        {{#each atuendos}}        
            <div class="col-sm-3 col-xs-10">
                <div class="card text-center">
                   <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">
                    
                    <div class="card-body">
                        {{#each prendas}}
                            <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                        {{/each}}
                    </div>
                </div>
            </div>   
        {{/each}}
    {{else}}
        <h3 class="font-weight-lighter"> No existen atuendos sugeridos</h3>  
    {{/if}}

    <div class="d-none d-xs-block d-sm-none col-xs-4 offset-sm-7 text-center" style="position:fixed; bottom:5px;">
        <a href="/events">
            <button type="button" class="btn btn-outline-dark" style="color:black">Volver</button>  
        </a>
    </div> 		
    		
    <div class="d-xs-none d-sm-block col-xs-4 offset-sm-7 text-center">          
        <a href="/events">
            <button type="button" class="btn btn-outline-dark" style="color:black">Volver</button>  
        </a>
    </div> 
</div>
</body>
</html>

