<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Qué me pongo? | Atuendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/img/generico/icono_percha.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="/js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    color:white;
    line-height: 42px;
    text-align: center;">¿Qué Me Pongo?</h3>

    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
                <li>
                    <a href="/home">
                        <p class="nav-link" style="margin-top:5px">Inicio</p>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <p class="nav-link" style="margin-top:5px">Eventos</p>
                    </a>
                </li>
                <li class="nav-item active" style="margin: 5px;">
                    <a href="/login">
                        <button type="button" class="btn btn-light text-dark"> Cerrar Sesión</button>
                    </a>
                </li>
            {{else}}

                <li class="nav-item active" style="margin: 5px;">
                    <button type="button" class="btn btn-light"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="card container" style="margin-top:5px;">
  

    <div class="row" style="margin-top:5px;margin-bottom:5px;"> 
        <div class="col-ms-12  col-xs-12 font-weight-bold">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active"  style="color:black" id="nav-elegante-tab" data-toggle="tab" href="#nav-elegante" role="tab" aria-controls="nav-elegante" aria-selected="true">Elegante</a>
                <a class="nav-item nav-link"  style="color:black" id="nav-elegantsport-tab" data-toggle="tab" href="#nav-elegantsport" role="tab" aria-controls="nav-elegantsport" aria-selected="false">Elegan Sport</a>
                <a class="nav-item nav-link" style="color:black" id="nav-deportivo-tab" data-toggle="tab" href="#nav-deportivo" role="tab" aria-controls="nav-deportivo" aria-selected="false">Deportivo</a>
                <a class="nav-item nav-link" style="color:black" id="nav-entrecasa-tab" data-toggle="tab" href="#nav-entrecasa" role="tab" aria-controls="nav-entrecasa" aria-selected="false">Entrecasa</a>
                <a class="nav-item nav-link" style="color:black" id="nav-navidenio-tab" data-toggle="tab" href="#nav-navidenio" role="tab" aria-controls="nav-navidenio" aria-selected="false">Navideño</a>
                <a class="nav-item nav-link" style="color:black" id="nav-normal-tab" data-toggle="tab" href="#nav-normal" role="tab" aria-controls="nav-normal" aria-selected="false">Normal</a>
                <a class="nav-item nav-link" style="color:black" id="nav-playero-tab" data-toggle="tab" href="#nav-playero" role="tab" aria-controls="nav-playero" aria-selected="false">Playero</a>
              </div>
            </nav>
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-elegante" role="tabpanel" aria-labelledby="nav-elegante-tab">
     
            <div class="row">    
                {{#if atuendosElegantes}}

                    {{#each atuendosElegantes}} 
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}} </h5>
                                    {{/each}}

                                    <form action="/outfit/{{guardaropaId}}/{{id_atuendo}}" method="POST">
                                        <span class="clasificacion">
                    
                                            <input id="radio1-{{id_atuendo}}" type="radio" name="estrellas-{{id_atuendo}}" value="5" {{#if calificacion5}} checked="checked" {{/if}}><!--
                                            --><label for="radio1-{{id_atuendo}}" >&#9733;</label><!--
                                            --><input id="radio2-{{id_atuendo}}" type="radio" name="estrellas-{{id_atuendo}}" value="4" {{#if calificacion4}} checked="checked" {{/if}}><!--
                                            --><label for="radio2-{{id_atuendo}}" >&#9733;</label><!--
                                            --><input id="radio3-{{id_atuendo}}" type="radio" name="estrellas-{{id_atuendo}}" value="3" {{#if calificacion3}} checked="checked" {{/if}}><!--
                                            --><label for="radio3-{{id_atuendo}}" >&#9733;</label><!--
                                            --><input id="radio4-{{id_atuendo}}" type="radio" name="estrellas-{{id_atuendo}}" value="2" {{#if calificacion2}} checked="checked" {{/if}}><!--
                                            --><label for="radio4-{{id_atuendo}}" >&#9733;</label><!--
                                            --><input id="radio5-{{id_atuendo}}" type="radio" name="estrellas-{{id_atuendo}}" value="1" {{#if calificacion1}} checked="checked" {{/if}}><!--
                                            --><label for="radio5-{{id_atuendo}}" >&#9733;</label>
                                        </span> 
                                        <button type="submit" class="btn btn-link">Calificar</button>
                                    </form> 
                                </div>

                            </div>
                        </div>   
                    {{/each}}
                    
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos elegantes </h3>  
                {{/if}}
            </div>
        </div>
        
        <div class="tab-pane fade" id="nav-elegantsport" role="tabpanel" aria-labelledby="nav-elegantsport-tab">
            <div class="row"> 
                {{#if atuendosElegantSport}}

                    {{#each atuendosElegantSport}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos elegant sport </h3>  
                {{/if}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-deportivo" role="tabpanel" aria-labelledby="nav-deportivo-tab">
            <div class="row"> 
                {{#if atuendosDeportivo}}

                    {{#each atuendosDeportivo}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos deportivo </h3>  
                {{/if}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-entrecasa" role="tabpanel" aria-labelledby="nav-entrecasa-tab">

            <div class="row"> 
                {{#if atuendosEntreCasa}}

                    {{#each atuendosEntreCasa}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos de entre casa </h3>  
                {{/if}}
            </div>

        </div>
        <div class="tab-pane fade" id="nav-navidenio" role="tabpanel" aria-labelledby="nav-navidenio-tab">

            <div class="row"> 
                {{#if atuendosNavidenio}}

                    {{#each atuendosNavidenio}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos navide&nacute;os </h3>  
                {{/if}}
            </div>

        </div>
        <div class="tab-pane fade" id="nav-normal" role="tabpanel" aria-labelledby="nav-normal-tab">

            <div class="row"> 
                {{#if atuendosNormal}}

                    {{#each atuendosNormal}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos normales </h3>  
                {{/if}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-playero" role="tabpanel" aria-labelledby="nav-playero-tab">

            <div class="row"> 
                {{#if atuendosPlayero}}

                    {{#each atuendosPlayero}}        
                        <div class="col-sm-3 col-xs-10">
                            <div class="card text-center">
                               <img src="/img/outfit.png" class="card-img-top" alt="Imagen prenda"  style="max-width: 50%; display: block; margin-left: auto; margin-right: auto;">

                                
                                <div class="card-body">
                                    {{#each prendas}}
                                        <h5 class="card-title text-uppercase">{{nombrePrenda}}</h5>
                                    {{/each}}
                                </div>
                            </div>
                        </div>   
                    {{/each}}
                {{else}}
                    <h3 class="font-weight-lighter"> No existen atuendos playeros </h3>  
                {{/if}}
            </div>
        </div>
    </div>

    <div class="d-xs-none d-sm-block col-xs-4 offset-sm-7 text-center">
        <a>
            <button type="button" class="btn btn btn-primary" data-toggle="modal" data-target="#estilosModal">Agregar</button>
        </a>
        <a>
            <button type="button" class="btn btn btn btn-dark" data-toggle="modal" data-target="#estilosModal2">Sugerir</button>  
        </a> 
        <a href="/guardaropa/{{guardaropaId}}">
            <button type="button" class="btn btn-outline-dark" style="color:black">Volver</button>
        </a>
    </div>
</div>


<!-- Modal Estilos-->
<div class="modal fade" id="estilosModal" tabindex="-1" role="dialog" aria-labelledby="estilosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="estilosModalLabel">Seleccione un Estilo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {{#each estilos}}
                        <div class="col-sm-10 col-xs-10 ">
                            <a href="/addOutfit/{{guardaropaId}}/{{this}}">
                            <h5 class="text-dark"> {{this}}</h5>
                            </a>
                        </div>
                {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="estilosModal2" tabindex="-1" role="dialog" aria-labelledby="estilosModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form action="/addOutfit/{{guardaropaId}}/sugerencia" method="POST" style="margin autos">
      <div class="modal-header">
        <h5 class="modal-title" id="estilosModalLabel2">Seleccione un Estilo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="estilo" required>
                            <option selected disabled>Estilo</option>
                            
                                    {{#each estilos}}
                                <option value="{{this}}" type="estilo">{{this}}</option>
                            {{/each}} 

                        </select>
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </form>
    </div>
  </div>
</div>

</body>
</html>

